/* src/components/OrderHistoryPage.css */
.order-history-page {
    padding: 20px;
}

.order-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.order-card p {
    margin: 5px 0;
}